In [1]:
thisisvariable ="Manash"

In [3]:
apples = 10
banana = 20
carrots = 4
print(f"I bought {apples} Apples, {banana} Banana and {carrots} Carrots.")

I bought 10 Apples, 20 Banana and 4 Carrots.

In [12]:
a = True
b = False
print(a-b)

1

# Variable 
### . case sensitive ( my_variable and My_Variable are different)
### . not start with Number  ( 1name)
### . can't used reserved work  ( print, for, else,sum )
### . don't use space in variable name ( my name  , my_name, myname)
### . meaningful word must be used
### . avoid using single character in variable

# some good example

# List in Python

In [13]:
my_list = [1, 2, 3, 4]
print(my_list)
type(my_list)

[1, 2, 3, 4]

list

In [17]:
# LIst is the data structure with store different types of values ( string, integer, float)
list = ["Name", 12, 12.4, True] #item of list
print(list)
type(list)

['Name', 12, 12.4, True]

list

In [15]:
print(len(list))

4

In [16]:
print(list[0])

Name

#  index in list( ordered)

In [20]:
list.insert(1, 22)

In [21]:
list

['Name', 22, 12, 12.4, True]

In [30]:
Names =['Hari', 'Tiresh', "Sagar", "Ritesh", "Raju","suresh", "Nepali"]
Names

['Hari', 'Tiresh', 'Sagar', 'Ritesh', 'Raju', 'suresh', 'Nepali']

In [25]:
phones =[8888383,4444433,5444333]
phones

[8888383, 4444433, 5444333]

In [26]:
print(phones[2])

5444333

In [ ]:
# index are the numbering  inside list

In [32]:
print(Names[-2])

suresh

In [31]:
print(Names[-1])

Nepali

In [33]:
print(Names[6])

Nepali

In [35]:
print(Names[-7])

Hari

## Negative indexing

In [42]:
student_details = ["Rakesh", 24 , "Kalanki", 5.7]
print(f'''The name of the student is {student_details[0]},
He is {student_details[1]} years old. He is from {student_details[2]}
and his height is {student_details[3]}.''')

The name of the student is Rakesh,
He is 24 years old. He is from Kalanki
and his height is 5.7.

In [45]:
# operation can be done in list ( sorting,Reverse append, insert, delete)

In [44]:
nums = [1,3,5,7,5,4,3,333,44,333,554,44,44,55,77]
nums.sort()
print(nums)

[1, 3, 3, 4, 5, 5, 7, 44, 44, 44, 55, 77, 333, 333, 554]

In [48]:
nums = [1,3,5,7,5,4,3,333,44,333,554,44,44,55,77]
nums.sort(reverse = True)
print(nums)

[554, 333, 333, 77, 55, 44, 44, 44, 7, 5, 5, 4, 3, 3, 1]

In [49]:
nums1 = [1,3,2225,7,5,4,2223,333,44,333,554,44,44,55,77]
nums1.reverse()
print(nums1)

[77, 55, 44, 44, 554, 333, 44, 333, 2223, 4, 5, 7, 2225, 3, 1]

In [51]:
# length of the list 
print(len(nums1))

15

In [52]:
# append to list item in last index
student_details.append("Pass")

In [53]:
print(student_details)

['Rakesh', 24, 'Kalanki', 5.7, 'Pass']

In [54]:
nums.append([1,2,3,4])

In [55]:
nums

[554, 333, 333, 77, 55, 44, 44, 44, 7, 5, 5, 4, 3, 3, 1, [1, 2, 3, 4]]

In [56]:
nums[-1][2]

3

In [3]:
number = [554, 333, 77, 55, 44, 7, 4, 3, 1, [1, 2, 3, 4]]

In [4]:
number[-1].append([99,66])

In [5]:
print(number)

[554, 333, 77, 55, 44, 7, 4, 3, 1, [1, 2, 3, 4, [99, 66]]]

In [6]:
number[-1][-1][1]

66

In [1]:
# can insert list inside list

In [7]:
number[-1][3]

4

In [ ]:
number[-1][]